---
import Project from '../components/Project.astro';
let posts = await Astro.glob('../pages/blog/*.mdx');
posts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
---
<div class="hero">
    <h1>Projects</h1>
    <p>This is the space where I showcase the work I've done in the form of a video, blog post, or just a direct link. I hope you enjoy it!</p>
    <ul>
    {posts.map((post) => (
        <Project
            title={post.frontmatter.title}
            actions={post.frontmatter.actions}>
          <img src={post.frontmatter.previewImage} alt={post.frontmatter.title} slot="header"/>
          {post.frontmatter.description}
        </Project>
    ))}
    </ul>
</div>
<style>
    .hero{
        position: absolute;
        display: flex;
        left: 50%;
        top: 10%;
        flex-direction: column;
        transform: translateX(-50%);
        gap: -5px;
        color: white;
        
    }
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 0;
        list-style: none;
        align-items: center;
    }
    p{
        position: relative;
        height: 88px;
    }
    @media screen and (max-width: 900px) {
        .hero {
            width: 90%;
            top: 19%;
        }
    }
    @media screen and (max-width: 636px) {
        h1 {
            font-size: 40px;
        }
    }
</style>
